<p>book-list works!</p>

<p>
    <label for="filter">Filtern nach:</label>
    <input required minlength="3" type="text" name="filter" [(ngModel)]="filterValue">
</p>

<p>
    Liste gefiltert nach '{{filterValue}}'
</p>

<ng-template #noBooks>Leider keine Bücher vorhanden.</ng-template>

<button (click)="toggleCover()">
    Cover {{coverIsVisible ? 'aus' : 'ein'}}schalten
</button>

<table border="1" *ngIf="books?.length; else noBooks">
    <tr>
        <td *ngIf="coverIsVisible">Cover</td>
        <td>ISBN</td>
        <td>Titel</td>
        <td>Preis in Euro</td>
        <td>Rating</td>
    </tr>
    <tr *ngFor="let book of (books | bookFilter: filterValue) ; trackBy: getBuchId">
        <td *ngIf="coverIsVisible"><img [src]='book.coverUrl' [style.width.px]="20"></td>
        <td>{{book.isbn}}</td>
        <td>{{book.title}}</td>
        <td [ngClass]="{'on-discount': book.price < 10}">
            {{book.price | currency:'EUR':'symbol':'1.2-2'}}
        </td>
        <td>
            <book-rating [id]="book.isbn" [stars]="book.rating" (upVote)="storeUpVote($event)"
                (downVote)="storeDownVote($event)">
            </book-rating>
            <button (click)="deleteBook(book.isbn)">[-]</button>
        </td>
    </tr>
</table>